<!DOCTYPE html>
<html ng-app>
<head>
    <style>
        ul {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
        }
        li {
            width: 40px;
            padding-left: 5px;
            padding-right: 5px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            background-color: #99DDBB;
            border: 1px solid #000000;
            border-radius: 15px;
        }
    </style>
    <script src="public/lib/angular/angular.js"></script>
    <script>
        function FretsController($scope) {

            $scope.guitarTunings    = [4, 9, 2, 7, 11, 4]
            $scope.fiddleTunings    = [7, 2, 9, 4]
            $scope.ukuleleTunings   = [7, 0, 4, 9]
            $scope.bassTunings      = [4, 9, 2, 7]
            $scope.dobroTunings     = [7, 11, 2, 7, 11, 2]

            $scope.intNames =
                ['1','b9','9','b3','3','4','b5','5','#5','6','b7','7']

            $scope.noteNames =
                [
                    {flat: 'C', sharp:'C'},
                    {flat: 'Db', sharp:'C#'},
                    {flat: 'D', sharp:'D'},
                    {flat: 'Eb', sharp:'D#'},
                    {flat: 'E', sharp:'E'},
                    {flat: 'F', sharp:'F'},
                    {flat: 'Gb', sharp:'F#'},
                    {flat: 'G', sharp:'G'},
                    {flat: 'Ab', sharp:'G#'},
                    {flat: 'A', sharp:'A'},
                    {flat: 'Bb', sharp:'A#'},
                    {flat: 'B', sharp:'B'}
                ]

            $scope.clicked = function() {
            //    $scope.chkd = !$scope.chkd
                alert('temp')
            }
        }
    </script>
</head>

<body>

<div ng-controller="FretsController">

    <form>
        <input type="checkbox" ng-model="chkd">
        <input type="submit" ng-click="clicked()"/>
    </form>

    <div ng-model="thing" ng-show="chkd">
        {{thing.key}}
        <ul>
            <li ng-repeat="noteNames in notes" ng-click="clicked()">
                {{noteName.flat}}
            </li>
        </ul>
        {{noteNames.length}}
    </div>

    <div id="table">
        <div class="row">
            <span class="cell">sdf</span>
            <span class="cell">gfee</span>
            <span class="cell">fgdfg</span>
        </div>
        <div class="row">
            <span class="cell">dfgdfg</span>
            <span class="cell">5yhryh</span>
            <span class="cell">tyhythy</span>
        </div>
        <div class="row">
            <span class="cell">rhyrhy</span>
            <span class="cell">rhyryh</span>
            <span class="cell">fghfghfgh</span>
        </div>
    </div>

</div>
<br>
Hey There

</body>
</html>